.cli-container {
  background-color: #1d1c2b;
  box-shadow: 3px 3px 4px rgba(0,0,0,.1);
  color: rgba(255,255,255,.75);
  font-family: monospace;
  font-size: 1.15em;
  padding: 2em 2.4em;
  position: relative;
  transition: color .2s ease;
  width: 60vw;
  height: 100vh;
}

.cli-container:focus-within {
  color: white;
}

.cli-input,
.cli-input:active,
.cli-input:focus {
  background-color: transparent;
  border: none;
  color: transparent;
  height: 0px;
  margin: 0;
  outline: 0;
  padding: 0;
  position: absolute;
  width: 0px;
}

.cli-output {
  color: inherit;
}

.cli-prompt-prefix {
  font: inherit;
}
.cli-prompt {
  display: inline-block;
  font: inherit;
}

.cli-prompt-caret {
  font: inherit;
  font-size: .85em;
  margin-left: .075em;
  opacity: 0;
}

.cli-container:focus-within .cli-prompt-caret {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1, jump-start);
}

@keyframes blink {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
