.cli-container {
  background-color: #1d1c2b;
  color: rgba(255,255,255,.75);
  font-family: monospace;
  font-size: 1.15em;
  padding: 2em 2.4em;
  position: relative;
  transition: color .2s ease;
  width: 100vw;
  height: 100vh;
}

.cli-container:focus-within {
  color: white;
}

.cli-input,
.cli-input:active,
.cli-input:focus {
  background-color: inherit;
  border: none;
  color: inherit;
  cursor: default;
  font: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  tab-size: 4;
  -moz-tab-size: 4;
  transition: color .2s ease;
  width: 100%;
}

.cli-output {
  color: inherit;
}
