#shell {
  background-color: #293549;
  border-radius: 3px;
  box-shadow: 4px 4px 5px rgba(0,0,0,.1);
  color: snow;
  font-family: monospace;
  padding: .8em 1em;
  transition: background-color .2s ease;
  width: 100%;
}

#shell.active {
  background-color: #394559;
}
